//color
@org: #ff8101;
@red: #ff0000;
@turb: #00a9ba;
@ylw: #ffe228;
//config
//=>header
@header_font_size: 16px;
@header_font_color: #000000;
@header_H: 60px;
@header_H_md: 60px;
@header_H_sm: 60px;
@nav_space: 12px; //選單間距
@nav_theme: @org; //選單色系
@nav_m: @lg;
@up_nav_m: (@nav_m + 1);
//=>浮動按鈕
@flt_W: 376;
@flt_H: 83;
@flt_Cnt: 2; //數量
@flt_P: 0 * 2px;
@import "./default/fn.less";
@import "./default/style.less";
@import "./default/anime.less";
@import "./default/const.less";
@import "./default/obank.less";
//params
@maxW: 1200px;
//all
@font-face {
  font-family: "MantouSans";
  src: url("./MantouSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  letter-spacing: 1px;
  font-weight: 500;
}
.ctn1 {
  max-width: @maxW;
  margin: 0 auto;
}
img {
  display: block;
}
.mantouSans {
  font-family: "MantouSans", sans-serif;
}
//const
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 60px;
  background-color: #065580;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  a {
    font-size: 32px;
    color: #fff;
  }
  .toggle-btn {
    position: relative;
    width: 40px;
    height: 30px;
    cursor: pointer;
    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 5px;
      border-radius: 1000px;
      background-color: #fff;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(3) {
        top: 100%;
        transform: translateY(-100%);
      }
    }
    &.-active {
      span {
        &:nth-child(1) {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
        &:nth-child(3) {
          opacity: 0;
        }
      }
    }
  }
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  padding-top: 100px;
  background-color: #065580;
  transform: translateY(-100%);
  transition: transform 0.3s;
  overflow: auto;
  &.-active {
    transform: translateY(0);
  }
  ul {
    text-align: center;
    padding: 0;
    li {
      list-style-type: none;
      font-size: 24px;
      margin-bottom: 20px;
      color: #fff;
      cursor: pointer;
    }
  }
}
//style
.space_frame {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  text-align: justify;
  text-justify: inter-ideograph;
}
.ntc_frame {
  .ntc_btn {
    .fcc();
    cursor: pointer;
    position: relative;
    background-color: #ffffff;
    border-bottom: 1px solid #f6f6f6;
    font-size: 24px;
    padding: 30px 0;
    @media (max-width: @sm) {
      font-size: 22px;
      padding: 25px 0;
    }
    .plus_btn {
      transform: translateY(1px);
      margin-left: 15px;
      .plus(12px);
      @media (max-width: @sm) {
        .WH(10px);
      }
    }
  }
  .ntc_ctn {
    display: none;
    padding: 40px 20px;
    @media (max-width: @sm) {
      padding: 30px 10px;
    }
  }
  ul {
    line-height: 1.8;
    .ul_set(18px);
    @media (max-width: @sm) {
      .ul_set(16px);
    }
  }
}

main {
  position: relative;
  > section {
    position: relative;
  }
}

.bg-container {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translate(-50%);
  pointer-events: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  .vw(@md, width, 768px);
  * {
    pointer-events: all;
  }
}

.container {
  position: relative;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  .vw(@md, width, 768px);
}

.sec {
  .container {
    .vw(@md, padding-top, 50px);
    .vw(@md, padding-bottom, 50px);
    .vw(@md, padding-left, 30px);
    .vw(@md, padding-right, 30px);
    > img {
      .vw(@md, border-radius, 20px);
      .vw(@md, margin-top, 40px);
    }
  }
  h3 {
    margin: 0;
    .vw(@md, font-size, 60px);
    .vw(@md, margin-bottom, 30px);
    text-align: center;
  }
  h4 {
    margin: 0;
    .vw(@md, font-size, 42px);
    .vw(@md, margin-bottom, 30px);
    text-align: center;
  }
  .inner-text {
    .vw(@md, font-size, 32px);
  }
  .center {
    text-align: center;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    margin: 0 auto;
    .vw(@md, width, 300px);
    .vw(@md, height, 75px);
    .vw(@md, margin-top, 64px);
    .vw(@md, font-size, 32px);
  }
  &:nth-child(odd) {
    background-color: #065580;
    color: #fff;
    .btn {
      border: 2px solid #fff;
    }
  }
  &:nth-child(even) {
    background-color: #6db7de;
    color: #0c5983;
    .btn {
      border: 2px solid #0c5983;
    }
  }
}

#kv-sec {
  background-color: #065580;
  .vw(@md, height, 1260px);
  .bg-container {
    background-image: url(../img/kv.jpg);
    background-size: 100% 100%;
  }
}

#sec-1 {
  h3 {
    .vw(@md, margin-bottom, 0px);
  }
  .item-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .vw(@md, margin-top, 64px);
    .vw(@md, grid-gap, 16px);
    .item {
      background-color: #ffe228;
      width: 100%;
      .vw(@md, border-radius, 30px);
      .vw(@md, padding-top, 30px);
      .vw(@md, padding-bottom, 30px);
      > div {
        background-color: #00a9ba;
        margin: 0 auto;
        border-radius: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        .vw(@md, width, 150px);
        .vw(@md, height, 150px);
        img {
          width: 60%;
        }
      }
      p {
        text-align: center;
        .vw(@md, margin-top, 16px);
        .vw(@md, font-size, 32px);
      }
      .inner-text {
        .vw(@md, font-size, 24px);
        margin-top: 0;
      }
    }
  }
}

#sec-6 {
  .item-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .vw(@md, margin-top, 64px);
    .item {
      width: 100%;
      .vw(@md, padding-left, 24px);
      .vw(@md, padding-right, 24px);
      .vw(@md, margin-bottom, 64px);
      > div {
        background-color: #ffe228;
        margin: 0 auto;
        .vw(@md, width, 150px);
        .vw(@md, height, 150px);
      }
      p {
        text-align: center;
        .vw(@md, margin-top, 16px);
        .vw(@md, font-size, 32px);
      }
    }
  }
}

footer {
  background-color: #6db7de;
  color: #065580;
  .vw(@md, padding-top, 20px);
  .vw(@md, padding-bottom, 20px);
  > div {
    height: 100%;
    text-align: center;
  }
  a {
    .vw(@md, font-size, 24px);
  }
}
